* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.study {
  font-size: 18px;
  font-weight: 500;
}

.links {
  font-size: 18px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
}

.links:hover {
  border-bottom: 3px solid rgb(255, 255, 255, 0.55);
}

.links:active {
  opacity: 0.7;
}

.test {
  background-color: rgba(255, 255, 255, 0.299);
  border: 1px solid red;
  margin-top: 145px;
  height: 450px;
}

.headshot {
  height: 600px;
  border-radius: 15px;
}

.home-info {
  margin-top: 80px;
}

.about-photo{
  height: 450px;
  border-radius: 15px;
}
